@import "tailwindcss";

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

Header {
  color: cyan;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
}

h1 {
  padding: 1.5rem;
}

.section-type1 {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
}

.main-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
}

nav {
  padding: 2rem;
}

ul {
  display: flex;
  justify-items: flex-end;
}

li {
  list-style: none;
  padding: 0.5rem;
}

.store-box {
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
}

.store-info {
  padding: 1rem;
}

.store-img {
  padding: 1rem;
}

Footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  flex-grow: 1;
}

.register-form {
  background-color: rgba(255,255,255, 0.2) ;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
}

.close-btn {
  font-size: 1.5rem;
  position: relative;
  padding-top: 5px;
  top: 0;
  right: -45%;
  cursor: pointer;
}

.register-banner{
  font-size: 1.75rem;
}

.register-box {
  background-color: rgba(255,255,255, 0.99);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  border-radius: 5%;
  box-shadow: black 5px 5px 5px;
  min-width: 400px;
  min-height: 400px;
}

.register-type-btn {
  padding: 0.5rem;
  margin: 1rem;
  cursor: pointer;
  border: 2px solid red;
  border-radius: 5px;
}
.register-type-btn:hover {
  background-color: red;
}

.register-input-box {
  padding: 0.5rem;
  margin: 0.5rem;
  margin-top: 0;
  border: 2px solid black;
  border-radius: 5px;
}

.register-input-box:focus {
  /* waiting to fix */
}


.register-submit {
  padding: 0.5rem;
  font-size: 0.5rem;
  display: flex;
}

.link-lockIn-btn{
  color: blue;
  text-decoration: underline;
  padding-left: 5px;
  cursor: pointer;
}

.register-submit-btn {
  padding: 0.5rem;
  margin: 0.5rem;
  width: 60%;
  cursor: pointer;
  border: 2px solid black;
  border-radius: 5px;
} 